section.hero.is-medium.is-dark
	.hero-body
		.container.has-text-centered
			h1.title.is-size-3.is-size-6-touch OFFICE OF COMMERCIAL AFFAIRS ROYAL THAI CONSULATE GENERAL IN KUNMING 
			h2.subtitle.is-size-4.is-size-7-touch 泰王国驻昆明总领事馆商务处
