.dropdown.is-up(style="position: fixed; bottom: 0%; z-index: 1000;")
	.dropdown-trigger(onclick="this.parentNode.classList.toggle('is-active')")
		p dev
	.dropdown-menu
		.dropdown-content
			a.dropdown-item(href="/users/new") Sign Up
			a.dropdown-item(href="/signUpAccess/new") New Sign Up Access
			a.dropdown-item(href="/sessions/new") Sign In
			a.dropdown-item(href="/news/new") New News
