header.navbar
	.navbar-menu
		.navbar-brand
			a(href="#")
				img.image(src="/public/images/dipt.png" style="height: 30px; margin: 10px")
		.navbar-end
			a.navbar-item(href=paths.news()) News
			a.navbar-item(href=paths.users(currentUser)) #{currentUser.username}
			a#sign-out.navbar-item(data-target=paths.sessions()) Sign Out