doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title= buildTitle(title)
		style
			include ../node_modules/bulma/css/bulma.css
			include ./style.css
		script(src="/public/sessions.js")
		script(src="/public/addInput.js")
		block script
		script(src="/public/startJobs.js")
	body
		if isSignedIn
			include partials/header.pug
		if process.env.NODE_ENV == 'development'
			include partials/developerNav.pug
		include partials/flash.pug
		block content
