doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		block title
			title= buildTitle('')
		style
			include ../node_modules/bulma/css/bulma.css
			include ./style.css
		script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous")
		script(src="/public/sessions.js")
		script(src="/public/add-input.js")
		script(src="/public/tabs.js")
		block script
		script(src="/public/start-jobs.js")
	body
		if isSignedIn
			include partials/header.pug
		if process.env.NODE_ENV == 'development'
			include partials/developer-nav.pug
		block hero
		include partials/flash.pug
		.container(style="padding-top: 10px; padding-bottom: 10px;")
			block content
		block after-content
