doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title= buildTitle(title)
		style
			include ../node_modules/bulma/css/bulma.css
			include ./style.css
		block script
	body
		include partials/developerNav.pug
		include partials/flash.pug
		block content
