extends ./layout.pug

block script
	script(type="module" src="../public/newNews.js")
block content
	.container
		form
			.field.is-horizontal
				.field-label.is-large
					label.label File
				.field-body
					.control
						.file.has-name.is-boxed.is-large
							label.file-label
								input.file-input(type="file" name="doc")
								span.file-cta
									span.file-label
										span Word(.doc[x]) file
								.file-name
									span 
		.content
			.justadiv
