body {
	min-height: 100vh;
}

.drop-target {
	background-color: whitesmoke;
	box-sizing: border-box;
	border: 5px dotted darkgray;
	border-radius: 3px;
	color: dimgray;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.news-image-container {
	justify-content: center;
}

.news-image-container img {
	margin: 20px;
	max-height: 300px;
}

.justadiv p {
	/*text-indent: 5mm;*/
}

header.navbar {
	border-bottom: 2px #ddd solid;
}

.duration-ago {
	padding-left: 1em;
}

.big-list > li {
	margin: 20px 0;
}