body {
	min-height: 100vh;
}

.drop-target {
	background-color: whitesmoke;
	box-sizing: border-box;
	border: 5px dotted darkgray;
	border-radius: 3px;
	color: dimgray;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.news-image-container {
	justify-content: center;
}

.news-image-container img {
	margin: 20px;
	max-height: 300px;
}

.justadiv p {
	/*text-indent: 5mm;*/
}

header.navbar {
	border-bottom: 2px #ddd solid;
}

.duration-ago {
	padding-left: 1em;
}

.big-list > li {
	margin: 20px 0;
}

.autocomplete {
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items span {
	padding-left: 1.8em;
}

.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #fff;
}