extends ./layout.pug

block content
	h1.title 500 Internal Server Error
	p.subtitle Sum Ting Wong
	.content
		h2 There seems to be a problem on the server side.
		p Please contact the administrator or your superviser.