extends ../layout.pug

block title
	title= helpers.buildTitle('Error')
block hero
	.hero.is-danger
		.hero-body
			h1.title You must be signing up from a valid inviting link.
block content
	p Please contact your superviser.