extends ../layout.pug

block hero
	.hero.is-danger
		.hero-body
			h1.title 500 Internal Server Error
			p.subtitle Sum Ting Wong
block content
	.content
		h2 There seems to be a problem on the server side.
		p Please contact the administrator or your superviser.