extends ../layout.pug

block title
	title= helpers.buildTitle('Error')
block hero
	.hero.is-danger
		.hero-body
			h1.title 401 Unauthorized
block content
	.content
		h2 Please, contact the administrator.
