extends ../layout.pug

block title
	title= helpers.buildTitle('Adding Business Card')
block hero
	.hero.is-dark
		.hero-body
			h1.title Adding Business Card
block content
	include ./partials/form.pug
	+form(paths.businessCards())
